* {
  text-align: center;
}

body {
  background-color: cornsilk;
}

.mainDiv {
  border: 2px solid blue;
  width: 300px;
  margin: 0 auto;

  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 15px 10px black;
}

.time {
  font-size: 18px;
  color: black;
}

.timeDigit {
  font-size: 50px;
  color: blue;
}

.btnz:hover {
  background-color: blue;
  color: white;
}

.btnz {
  border: 2px solid blue;
  border-radius: 10px;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  color: blue;
  margin: 1px 1px 10px 1px;
}
#stopBtn {
  display: none;
}
#resetBtn {
  display: none;
}

#resumeBtn {
  display: none;
}

#msDiv {
  display: none;
}
#secDiv {
  display: none;
}
#minDiv {
  display: none;
}
#hourDiv {
  display: none;
}

#dayDiv {
  display: none;
}
